/node_modules/
/vendor/
/logs/
/public/assets/fontawesome
/public/cache/
/public/docs/
/public/img/
/public/assets/webfonts
/public/assets/scss/.sass-cache/
/docs/
/GenarkysLogs/
/public/tinymce/
/plugins/
robots.txt
/public/upload/
/config/production.ini
/config/developpement.ini
/public/assets/drift-master