<div class="bloc-contact bg-g-gray-3 col-12 pb-2">
    <div class="row">
        <h5 class="h5 small-caps text-g-blue col-12">
            <i class="fas fa-square text-orange"></i>
            Le Cartonnage<br />
            Industriel
        </h5>
        <address class="text-muted font-weight-bold size-12 col-12">
            262, rue Berthollet<br />
            Dynapôle<br />
            54710 LUDRES
        </address>
        <a href="tel:+0383262000" class="col-12 font-weight-bold">
            Tél.
            <i class="fas fa-caret-right ml-3"></i>
            (+33)3 83 26 20 00
        </a>
        <span class="col-12 font-weight-bold">
            Fax
            <i class="fas fa-caret-right ml-3"></i>
            (+33)3 83 26 37 27
        </span>
    </div>
</div>