{% extends "backend/base.html.twig" %}

{% block body %}
<h1 class="col-lg-10 col-md-10 col-sm-12 mx-auto my-3 h2">
    <i class="fas fa-list"></i>
    Actualité archivée
    <div class="float-right">
        <a href="/admin/actualite/new" class="btn btn-primary">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</h1>
{% if actualites is empty %}
<div class="alert alert-info col-lg-8 col-md-10 col-sm-12 mx-auto">
    <h5 class="alert-heading">
        <i class="fas fa-info-circle"></i>
        Aucune actualité dans les archives.
    </h5>
    <div class="alert-body">
        <a href="/admin/actualite/new" class="btn btn-success">
            <i class="fas fa-plus"></i>
            Ajouter
        </a>
    </div>
</div>
{% else %}
<div class="col-lg-10 col-md-10 col-sm-12 mx-auto">
    <table class="table table-striped table-dark rounded text-white">
        <thead>
            <th>#</th>
            <th>Titre</th>
            <th></th>
        </thead>
        <tbody>
            {% for actualite in actualites %}
                <tr>
                    <td>{{ actualite.id }}</td>
                    <td>{{ actualite.title|raw }}</td>
                    <td>
                        <a href="/admin/actualite/update/{{ actualite.id }}" data-toggle="tooltip" title="Modifier l'actualité">
                            <i class="fas fa-pen mx-1 text-white"></i>                            
                        </a>
                        <a href="/admin/actualite/archiver/reverse/{{ actualite.id }}" data-toggle="tooltip" title="Désarchiver l'actualité">
                            <i class="fas fa-archive mx-1 text-white"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock body %}