<div class="row">
    {% include "backend/basemenu/bloc/bloc.navigation.html.twig" %}
    {% include "backend/basemenu/bloc/bloc.user.html.twig" %}
    {% include "backend/basemenu/bloc/bloc.infos.html.twig" %}
</div>