<div class="text-white bloc-infos">
    <a class="badge badge-success p-2"
    href="https://genarkys.fr" target="_blank" id="badge-version" data-toggle="tooltip"
    title="Version à jour - genarkys.fr" data-value="{{ app.version }}">
        <i class="fas fa-code-branch"></i>
        {{ app.version }}
    </a>
</div>