<section id="menu-bloc-user" class="menu-bloc col-12 my-3 p-2">
    <span class="badge badge-secondary p-2">
        <i class="fas fa-user-circle"></i>
        {{ app.user.name ~ ' ' ~ app.user.firstName }}    
    </span>
</section>